:root {
    --color-blue: #00BBE3;
    --color-blue-rgb: 0, 187, 227;
    --color-dark-blue: #0097D6;
    --color-dark-blue-rgb: 0, 151, 214;
    --color-light-blue: #8FCFEC;
    --color-light-blue-rgb: 143, 207, 236;
    --color-light: #F5F5F5;
    --color-light-rgb: 245, 245, 245;
    --color-white: #FAFBFE;
    --color-white-rgb: 250, 251, 254;
    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
}

/* @font-face {
    font-family: "Aller-Regular";
    src: url('/fonts/aller/Aller_Std_Rg.ttf');
}

@font-face {
    font-family: "DIN-Regular";
    src: url('/fonts/din/din1451alt.ttf');
}

@font-face {
    font-family: "Droid-Regular";
    src: url('/fonts/droid-sans/DroidSans.ttf');
}

@font-face {
    font-family: "Lato-Regular";
    src: url('/fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url('/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: "Roboto-Bold";
    src: url('/fonts/roboto/Roboto-Bold.ttf');
} */

.title, h1, h2, h3 {
    font-family: "Roboto-Bold";
}

.subtitle, h4, h5 {
    font-family: "Roboto-Bold";
}

.paragraph, p {
    font-family: "Aller-Regular";
}

.bg-blue {
    background-color: var(--color-blue) !important;
}

.bg-dark-blue {
    background-color: var(--color-dark-blue) !important;
}

.bg-light-blue {
    background-color: var(--color-light-blue) !important;
}

.bg-light {
    background-color: var(--color-light) !important;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-white {
    background-color: white !important;
}

.bg-transparent {
    background-color: rgba(255, 255, 255, 0) !important;
}

.blue {
    color: var(--color-blue) !important;
}

.dark-blue {
    color: var(--color-dark-blue) !important;
}

.light-blue {
    color: var(--color-light-blue) !important;
}

.light {
    color: var(--color-light) !important;
}

.dark {
    color: var(--color-dark) !important;
}

.white {
    color: white !important;
}

.transparent {
    color: rgba(255, 255, 255, 0) !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.border {
    /*border: 0.5px solid var(--color-default) !important;*/
    box-shadow: 0 0 9px #999;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px #333;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px #333;
}

.shadow-all {
    box-shadow: 0 0 5px #333;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100vw;
}

body {
    background-color: var(--color-light);
    font-size: 16px;
}

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email],
 [type=month], [type=number], [type=password], [type=search], [type=tel],
 [type=text], [type=time], [type=url], [type=week], textarea {
    height: 2.6rem;
}

label {
    font-size: 1.1rem;
    line-height: 2.6rem;
}

.container {
    margin-left: 20vw;
    margin-right: 20vw;
}

.container-narrow {
    margin-left: 5vw;
    margin-right: 5vw;
}

.special {
    position: absolute;
}

.super {
    position: fixed;
}

.super-left {
    left: 20vw;
}

.super-left-narrow {
    left: 5vw;
}

.super-right {
    right: 20vw;
}

.super-right-narrow {
    right: 5vw;
}

.super-top {
    top: 20vw;
}

.super-top-narrow {
    top: 5vw;
}

.super-bottom {
    bottom: 20vw;
}

.super-bottom-narrow {
    bottom: 5vw;
}

.content {
    margin-top: -80px;
}

/* Mobile screen */
@media screen and (max-width: 575px) {
    .container {
        margin-left: 5vw;
        margin-right: 5vw;
    }

    h1 {
        font-size: 2.5rem;
    }
}

/* Small screen */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 2.5rem;
    }
}

/* Medium screen */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.72rem;
    }
}

/* Large screen */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
}

/* Fullscreen screen */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7.5rem;
    }
}
