<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="Razaqa Dhafin Haffiyan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Razaaf Dev</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="https://rustondesign.com/images/rd_icon.png">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Meterialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            <div class="row right">
                <a href='{% url 'logout' %}' id='logout' class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Log out</a>
            </div>
            <h5 id='judul' style='text-align: center; margin: 30px'>Hello, {{ user.username }} Apa Kabar?</h5>
        	{% else %}
            <div class="row right">
                <a href='{% url 'social:begin' 'google-oauth2' %}' id='login' class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Log in</a>
            </div>
            <h5 id='judul' style='text-align: center; margin: 30px'>Hello, Apa Kabar?</h5>
        	{% endif %}
            <a href='{% url 'profile' %}' class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Go to profile</a>
            <a href='{% url 'subscribe_form' %}' class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Go subscribe</a>

            <ul class="collapsible">
                <li class="active">
                    <div id="book_fav" class="collapsible-header">
                    <i class="material-icons">book</i>
                        Your Favorite Books
                    <span id="counter_fav" class="new badge font-size-30">{{ counter }}</span></div>
                    <div class="collapsible-body" style="display:block;">
                        <div class="row">
                            <div class="input-field col s6">
                                <input value="Quilting" id="change_quilting" type="text">
                                <label class="active" for="change_quilting">Change String</label>
                            </div>
                            <div class="s6">
                                <a onclick="change_quilting()" class='waves-effect waves-light btn'><i class='material-icons right'>person_pin</i>Change Search Keyword</a>
                            </div>
                        </div>
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Favorite</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Cover</th>
                                </tr>
                            </thead>

                            <tbody id="books">
                            </tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <div id="status_card" class="collapsible-header">
                        <i class="material-icons">question_answer</i>
                        What's in your mind?
                    </div>
                    <div class="collapsible-body">
                        <div class="card">
                            <div id="id_show" class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="http://paperlief.com/images/apple-computer-keyboard-wallpaper-2.jpg">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">Click Me to Update Your Status!
                                    <i class="material-icons right">add</i>
                                </span>

                                <table>
                                    <thead>
                                        <tr>
                                            <th style="width:70%">Status</th>
                                            <th style="width:20%">Date</th>
                                            <th style="width:10%">Time</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for a in data %}
                                        <tr>
                                            <td style="width:70%">{{ a.post }}</td>
                                            <td style="width:20%">{{ a.tanggal|date:"l, j F Y"}}</td>
                                            <td style="width:10%">{{ a.tanggal|date:"H:i"}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Click Me to Show Your Status!<i class="material-icons right">close</i></span>
                                <br>
                                <div class="row">
                                    <form id="form" method="POST" action="/create_status">
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ field }}
                                                <label id="share" for="textarea2">Share your feelings!</label>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <button id="id_btn" type="submit" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
    <script type="text/javascript" src="{% static 'book_ajax.js' %}"></script>
</body>
