/*
font-family: 'Amatic SC', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Permanent Marker', cursive;
font-family: 'Monoton', cursive;
*/

.headline {
    font-family: 'Amatic SC', cursive;
}

.slide-down {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    border-radius: 100px;
    font-size: 15px;
}

.slide-down:hover {
    background-color: rgba(50, 50, 50, 0.5) !important;
}

.slide-down:active {
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-down:visited {
    background-color: rgba(0, 0, 0, 0.5);
}

.slide-down:focus {
    background-color: rgba(0, 0, 0, 0.5);
}

.section-title {
    font-family: "Raleway", sans-serif;
}

.writings-description h3 {
    font-family: 'Permanent Marker', cursive;
    margin-top: 0;
    margin-bottom: 2vw;
}

.writings-description p {
    font-family: 'Indie Flower', cursive;
}

.writings-description a {
    font-family: "Raleway", sans-serif;
    font-size: 10px;
    margin-bottom: 10px !important;
}

.slider-color {
    background-color: black;
}

.uk-overlay {
    padding: 10px 10px;
}
