.nav-font {
    font-size: 1.25rem !important;
    color: white;
}

.sidenav-background {
    background-color: rgba(100, 10, 100, 1);
}

.white-underline::before {
    border-bottom: 1px solid white !important;
}
